{% extends "layout.html" %}

{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + database.owner.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ database.owner.username }}</a>
        <small class="text-muted">{{ database.date_created.strftime('%Y-%m-%d') }}</small>
        {% if database.owner == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('databases.update_database', database_id=database.id, username=current_user.username) }}">Update</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('databases.create_schema_for_db', database_id=database.id, username=current_user.username) }}">New Schema</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>

          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ database.database_name }}</h2>
      <p class="article-content">{{ database.database_description }}</p>
    </div>
  </article>




  {% for schema in schemas %} 
    <article class="media content-section">
      <div class="media-body">
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('databases.update_schema', schema_id=schema.id, database_id=database.id, username=current_user.username) }}">Update</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteSchemaModal">Delete</button>
        <h2 class="article-title">{{ schema.name }}</h2>
        <p class="article-content">{{ schema.description }}</p>

      </div>
    </article>


    <!-- Schema Delete Modal -->
    <div class="modal fade" id="deleteSchemaModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Schema?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete {{ schema.name}} from your database? This action cannot be undone and all data will be lost.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('databases.delete_schema', schema_id=schema.id, username=current_user.username, database_id=database.id) }}" method="POST">
              <input type="hidden" name="total_databases" value="{{ total_databases }}">
              <input type="hidden" name="page" value="{{ page }}">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>



  {% endfor %}





  <!-- Database Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Database?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete {{ database.database_name }} from your account? This action cannot be undone and all data will be lost.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('databases.delete_database', database_id=database.id, username=current_user.username) }}" method="POST">
            <input type="hidden" name="total_databases" value="{{ total_databases }}">
            <input type="hidden" name="page" value="{{ page }}">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>



  
{% endblock %}