{% extends "layouts/base_secondary.html" %}


{% block head %}
{% endblock %}


{% block leftmenu %}


<input type="text" id="databaseSearchInput" class="menu-search-input" placeholder="Search..." onkeyup="filterDatabases()">

{% endblock %}

{% block leftcontents %}
<div id="worksheets-container"> 
    <div id="folders-container">
        {% for folder in folders %}
        <div class="worksheet-item">
            <button class="folder-dropdown-button" data-folder-id="{{ folder.id }}" data-username="{{ current_user.username }}">
                <div class="button-left-content">
                    <i class=" fas fa-angle-right arrow-icon"></i>
                    <i class="custom-icon far fa-folder"></i>
                    <span class="button-text">{{ folder.name }}</span>
                </div>
                <div class="button-ellipsis">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </button>
            <div class="child-folder-container" style="display: none;"></div>
            <div class="child-worksheet-container" style="display: none;"></div>
        </div>
        {% endfor %}
    </div>
    {% for worksheet in worksheets %}
        <div class="worksheet-item">
            <button id="worksheetButton" class="worksheet-button original" data-worksheet-username="{{ current_user.username }}" data-worksheet-code="{{ worksheet.code }}">
                <div class="button-left-content">
                    <i class="custom-icon far fa-file-alt"></i>
                    <span class="button-text">{{ worksheet.name }}</span>
                </div>
                <div class="button-ellipsis">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </button>
        </div>
    {% endfor %}
</div>
{% endblock %}


{% block rightcontents %}
<div class="right-section__header">
    <div class="right-section__header-left">
        <h2>Worksheets</h2>
    </div>
    <div class="right-section__header-right">
        <button id="creation-btn" data-toggle="modal" data-target="#createDatabaseModal">+ Item</button>
    </div>
</div>
<div class="right-section__contents">
    {% if worksheets|length > 0 %}
    <div class="right-section__contents-table-header">
        <button class="custom-button-head">
            <i class="custom-icon left-icon far fa-file-alt"></i>
            <span class="button-name">Name <i class="sort-by fa-solid fa-arrow-down"></i></span>
            <span class="text-1">Created <i class="sort-by fa-solid fa-arrow-down"></i></span>
            <span class="text-2">Comment</span>
        </button>
    </div>

    {% for folder in folders %} 
    <button class="custom-button" data-folder-id="{{ folder.id }}">
        <i class="left-icon fas fa-star"></i>
        <span class="button-name">{{ folder.name }}</span>
        <span class="text-1">{{ folder.date_created.strftime('%Y-%m-%d') }}</span>
        <span class="text-2">{{ folder.description }}</span>
        <i class="right-icon fa-solid fa-ellipsis"></i>
    </button>
    {% endfor %}
    {% for worksheet in worksheets %} 
    <button class="custom-button" data-worksheet-code="{{ worksheet.code }}">
        <i class="left-icon fas fa-star"></i>
        <span class="button-name">{{ worksheet.name }}</span>
        <span class="text-1">{{ worksheet.date_created.strftime('%Y-%m-%d') }}</span>
        <span class="text-2">{{ worksheet.description }}</span>
        <i class="right-icon fa-solid fa-ellipsis"></i>
    </button>
    {% endfor %}


























    {% else %}

    {% endif %}
</div>
<div class="right-section__contents-table-footer"></div>
{% endblock %}




{% block scripts %}
<script src="{{ url_for('static', filename='js/worksheettree.js') }}"></script>




<script>
    function filterDatabases() {
    // Get the value from the search input field
    let input = document.getElementById('databaseSearchInput');
    let filter = input.value.toLowerCase();


    // Get all the database items
    let databaseItems = document.querySelectorAll('.database-dropdown-button');
    
    // Loop through the databases and hide/show based on the filter
    databaseItems.forEach(function(item) {
        let dbName = item.getAttribute('data-database-name'); // Get the database name (already lowercased)
        let dbNameLower = dbName.toLowerCase();
        
        // If the database name contains the search term, display it, otherwise hide it
        if (dbNameLower.includes(filter)) {
            item.style.display = '';
            item.nextElementSibling.style.display = '';
        } else {
            item.style.display = 'none';
            item.nextElementSibling.style.display = 'none';
        }


    });
}




// Get all the sortable columns
const sortableColumns = document.querySelectorAll('.custom-button-head .button-name, .custom-button-head .text-1');

// Get all the database buttons
const databaseButtons = Array.from(document.querySelectorAll('.custom-button'));

// Keep track of the current sort column and order
let currentSortColumn = null;
let currentSortOrder = 'asc';

// Function to toggle sort order and update arrow icon
function toggleSortOrder(column) {
    const arrow = column.querySelector('.sort-by');
    if (column === currentSortColumn) {
        currentSortOrder = currentSortOrder === 'asc' ? 'desc' : 'asc';
        arrow.classList.toggle('fa-arrow-down', currentSortOrder === 'asc');
        arrow.classList.toggle('fa-arrow-up', currentSortOrder === 'desc');
    } else {
        if (currentSortColumn) {
            currentSortColumn.querySelector('.sort-by').style.visibility = 'hidden';
        }
        currentSortColumn = column;
        currentSortOrder = 'asc';
        arrow.classList.remove('fa-arrow-up');
        arrow.classList.add('fa-arrow-down');
    }
    arrow.style.visibility = 'visible';
}

// Function to sort database buttons
function sortDatabases(column) {
    const index = Array.from(column.parentNode.children).indexOf(column);
    const isDate = index === 2; // Check if sorting by date
    const isName = index === 1; // Check if sorting by name

    databaseButtons.sort((a, b) => {
        let aValue = a.children[index].textContent.trim();
        let bValue = b.children[index].textContent.trim();

        if (isDate) {
            aValue = new Date(aValue);
            bValue = new Date(bValue);
        } else if (isName) {
            // Case-insensitive sorting for names
            aValue = aValue.toLowerCase();
            bValue = bValue.toLowerCase();
            
            // Natural sort order for alphanumeric strings
            return currentSortOrder === 'asc' 
                ? aValue.localeCompare(bValue, undefined, {numeric: true, sensitivity: 'base'})
                : bValue.localeCompare(aValue, undefined, {numeric: true, sensitivity: 'base'});
        }

        if (aValue > bValue) return currentSortOrder === 'asc' ? -1 : 1;
        if (aValue < bValue) return currentSortOrder === 'asc' ? 1 : -1;
        return 0;
    });

    // Reorder the buttons in the DOM
    const container = document.querySelector('.right-section__contents-table-header').parentNode;
    databaseButtons.forEach(button => container.appendChild(button));
}

// Add click event listeners to sortable columns
sortableColumns.forEach(column => {
    column.addEventListener('click', () => {
        toggleSortOrder(column);
        sortDatabases(column);
    });
});









document.addEventListener('DOMContentLoaded', function() {
    const username = document.body.dataset.username;
    const buttons = document.querySelectorAll('.custom-button');
    
    buttons.forEach(button => {
        button.addEventListener('click', function() {
            const datasetItems = this.dataset; // Access all data attributes for the button
            const worksheetCode = datasetItems.worksheetCode;
            const folderId = datasetItems.folderId; // Check for folderId in dataset
            const databaseId = datasetItems.databaseId; // Check for databaseId in dataset
            const schemaId = datasetItems.schemaId; // Check for schemaId in dataset
            console.log(datasetItems)
            // Redirect logic based on the available data attributes
            if (folderId) {
                window.location.href = `/${username}/worksheets/folder/${folderId}`;
            } else if (databaseId) {
                window.location.href = `/${username}/databases/${databaseId}`;
            } else if (schemaId) {
                window.location.href = `/${username}/databases/schemas/${schemaId}`;
            } else {
                window.location.href = `/${username}/query/${worksheetCode}`;
            }
        });
    });
});






</script>
{% endblock %}